@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes wave {
    
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


 .half-screen-container{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(74,19,223), #eeb806);
    background-size: 200% 200%;
    animation: wave 5s infinite linear;
}

